* {
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

body {
    border: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: #282828;
    height: 56px;
    color: white;
    align-items: center;
    padding: 0 .5rem;
}



main {
    display: flex;
    flex-grow: 1;
    background-color: blue;
}

.side-menu {
    flex-shrink: 0;
    background-color: #282828;
    width: 240px;
}

.main-content {
    flex-grow: 1;
    background-color: red;

}

main, .main-content, .side-menu {
    overflow-y: scroll;

}

.menu-btn-and-logo {
    display: flex;
    gap: 2rem;
    align-items: center;

}


.settings-and-sign-in {
    background: transparent;
    border-radius: 20px;
    padding: .5rem;
    font-weight: bold;
}

.settings-btn {
    background: none;

}
.sign-in-btn {
    border: 1px solid white;
    border-radius: 20px;
    padding: .5rem;
    


}